---
interface Props {
  icon: string;
  title: string;
  text: string;
  color: string;
}

const { icon, title, text, color } = Astro.props;
---

<div class="flex flex-1 flex-col gap-4 xl:gap-8">
  <div class="flex items-baseline justify-center">
    <img src={icon} class="size-8 md:size-12" />
  </div>
  <div
    class="text-center text-xl uppercase md:text-2xl"
    style={`color: ${color}`}
  >
    {title}
  </div>
  <div class="text-md font-open-sans text-center font-medium text-[#D2D2D2]">
    {text}
  </div>
</div>
