---

---

<div class="mainInfo">
  <div class="mainDiv">
    <img src="/FAKS.svg" class="faksHero" />
    <div class="break"></div>
    <div class="mainText">
      <div class="leftSideText">FER-ova akademska konferencija o sigurnosti (FAKS) projekt je koji okuplja studente, stručnjake i entuzijaste s ciljem edukacije i podizanja razine svijesti o kibernetičkoj sigurnosti.</div>
    </div>
    <div class="sponzori">SPONZORI</div>
    <div class="break"></div>
  </div>
</div>

<style>
  .mainInfo {
    width: 35%;
    vertical-align: middle;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mainHero {
    height: 100%;
    width: 45%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
  }

  .faksHero {
    width: 100%;
  }

  .mainDiv {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .mainText {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
  }

  .leftSideText{
    font-size: 1.5rem;
  }
</style>
