---
interface Props {
  icon: string;
  title: string;
  text: string;
  color: string;
}

const { icon, title, text, color } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="flex justify-center items-baseline">
    <img src={icon} class="" />
  </div>
  <div class="font-bold text-md text-center" style={`color: ${color}`}>
    {title}
  </div>
  <div class="text-[#D2D2D2] text-sm text-center">
    {text}
  </div>
</div>
