---
import Layout from '../layouts/Layout.astro';
import LeftSide from '@src/components/info/LeftSide.astro';
import RightSide from '@src/components/info/RightSide.astro';
import '@src/styles/global.css';
---
<Layout>
<div id="cont">
  <main>
    <div class="infoFlex">
      <LeftSide />
      <RightSide />
    </div>
  </main>
</div>
</Layout>
<style>
#cont {
  height: 100%;
  min-height: 100vh;
  background-color: var(--black);
  background-image: url('/background.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.infoFlex{
  padding-top: 8rem; /* Increased top padding to position content lower */
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 5rem; /* Adjusted for mobile */
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
}
</style>