---

---

<div
  class="w-screen bg-linear-to-t from-black to-transparent"
>
  <div
    class="container flex flex-col items-center justify-center h-screen"
  >
    <div class="grid grid-cols-5 grid-rows-1">
      <div>
        <img src="/faks_small.svg" class="" />
      </div>
      <div class="flex flex-col gap-4">
        <div class="font-bold text-[#F5F5F5] text-lg">Kontaktirajte nas</div>
        <div class="flex flex-col gap-1">
          <a href="mailto:faks@fer.hr" class="text-[#E0E0E0]">
            email: faks@fer.hr</a
          >
          <a href="tel:++38516129999" class="text-[#E0E0E0]">
            telefon: +385 1 6129 999</a
          >
          <div class="text-[#E0E0E0]">adresa: Unska 3, Zagreb</div>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="font-bold text-[#F5F5F5] text-lg">Istražite</div>
        <div class="flex flex-col gap-1">
          <a class="text-[#E0E0E0]">predavanja</a>
          <a class="text-[#E0E0E0]">CTF natjecanje</a>
          <a class="text-[#E0E0E0]">flash talks</a>
          <a class="text-[#E0E0E0]">panel rasprave</a>
          <a class="text-[#E0E0E0]">mingle</a>
          <a class="text-[#E0E0E0]">FAQ</a>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="font-bold text-[#F5F5F5] text-lg">Povežite se s nama</div>
        <div class="flex flex-col gap-1">
          <a class="text-[#E0E0E0]">linkedin</a>
          <a class="text-[#E0E0E0]">facebook</a>
          <a class="text-[#E0E0E0]">instagram</a>
          <a class="text-[#E0E0E0]">tiktok</a>
          <a class="text-[#E0E0E0]">bluesky</a>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="font-bold text-[#F5F5F5] text-lg">
          O nama i našim partnerima
        </div>
        <div class="flex flex-col gap-1">
          <a class="text-[#E0E0E0]">organizacija</a>
          <a class="text-[#E0E0E0]">Erste Cyber guardian</a>
          <a class="text-[#E0E0E0]">FER</a>
        </div>
      </div>
    </div>
    <div class="h-20 flex items-end justify-center">
      <span class="text-[#8A8A8A]">made with</span>
      <img src="/heart.svg" class="w-6 inline mx-2" />
      <span class="text-[#8A8A8A]">by FER students</span>
    </div>
  </div>
</div>
