---
const links = [
    {
        title: "info",
        link: "/info",
    },
    {
        title: "raspored",
        link: "/raspored",
    },
    {
        title: "predavaÄi",
        link: "/predavaci",
    },
    {
        title: "obavijesti",
        link: "/obavijesti",
    },
    {
        title: "CTF",
        link: "/ctf",
    },
]

import '@styles/global.css';
---

<div class="w-screen bg-linear-to-b from-black to-transparent fixed top-0 left-0 z-50">
    <div class="container flex w-full justify-start items-center mx-auto gap-8">
        <a href="/"><img class="w-3/4" src="/logo.svg" alt="logo" /></a>
        <div class="flex text-[#AAAAAA] text-lg gap-10">
            {links.map((link) => <a href={link.link}>{link.title}</a>)}
          </div>
    </div>
</div>