---
import "@styles/global.css";
---

<div class="flex flex-col gap-10 md:hidden">
  <img src="/hero.svg" class="mx-auto w-96" alt="Hero image" />
  <img src="/FAKS.svg" class="w-full px-10" alt="FAKS logo" />
</div>

<div class="container mx-auto hidden h-screen md:flex">
  <div class="grid h-full grid-cols-3 grid-rows-1 py-2">
    <div class="col-span-2 my-auto">
      <div class="flex h-full flex-col gap-52">
        <!-- TODO: add text here instead of svg -->
        <div class="relative">
          <img src="/FAKS.svg" class="z-20 w-full" alt="FAKS logo" />
          <!-- <div
            class="inset-0 bg-radial from-red-500 to-75% opacity-70 to-transparent absolute z-10"
          >
          </div> -->
        </div>
        <div class="mx-4 flex items-center justify-between">
          <div class="flex items-center gap-8">
            <img src="/lp/calendar.svg" class="size-14" alt="calendar" />
            <div class="h-20 w-1 bg-[#9E0035]"></div>
            <div class="font-open-sans text-3xl font-semibold text-[#CCCCCC]">
              7. i 8. lipnja 2025.
            </div>
          </div>
          <div class="flex items-center gap-8">
            <img src="/lp/location.svg" class="size-14" alt="location" />
            <div class="h-20 w-1 bg-[#9E0035]"></div>
            <div class="font-open-sans text-3xl font-semibold text-[#CCCCCC]">
              FER, Unska 3, Zagreb
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-auto">
      <img src="/hero.svg" class="w-full" alt="Hero image" />
    </div>
  </div>
</div>
