---
import SpeakerItem from "./predavaci/SpeakerItem.astro";
import Footer from "./Footer.js";

const data = [
  {
    profile: "/speakers/speaker1.svg",
    name: "Igor Jakovic",
    type: "tech",
    title: "The Art of Bonsai: How to Build a Cyber Security Expert?",
    about:
      "Jakov Đogić is a senior cyber security technician, working for Croatian  National CERT/CARNET for three years. He has a Masters Degree in  computer science teaching (Information and Communication Sciences) at  Faculty of Humanities and Social Sciences, University of Zagreb. He is a part of Penetration Testing Team and his duties include electronic  certificate management and vulnerability scanning. He has experience in  coordinating national CTF competitions, raising security awareness and  applying artificial intelligence in education.",
    text: "What can we do in a  world where cyber security talent shortage is a reality we live in? The  key idea starts with youth education, because tomorrow, it’s their  talent that will bridge the workforce gap. Just like a bonsai tree, the  path to becoming a cyber security expert has many branches and twigs,  but if perfected can become a skillful tree crown that will secure our  online world.As both National CSIRT and Education and Research Network,  it is our duty to raise awareness and educate high school and university students to become a competitive cyber security workforce.With todays’  youth living online and playing video games, we are bringing  gamification as a way to start or expand their interest in cyber  security. By organizing national CTF competitions, we are raising cyber  security awareness so that the next generation will be able to protect  our ever-growing digital world.",
    date: "June 12, 2024 14:00-14:35",
  },
];
---

<div class="mx-auto md:max-w-2/3">
  <h1 class="my-60 w-full text-center text-9xl font-black">TBD</h1>
  <Footer />
</div>
