---
import Header from "@/components/Header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FAKS - Ferova akademska konferencija o sigurnosti</title>
  </head>
  <body class="flex h-screen flex-col">
    <Header client:only />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family:
      "Nutino Sans", Inter, Roboto, "Helvetica Neue", "Arial Nova",
      "Nimbus Sans", Arial, sans-serif;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-image: url("/bg-white.webp");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
  }
</style>
