---

---

<div class="schedule-container">
    <div class="time">8:00</div>
	<div class="time">8:30</div>
	<div class="time">9:00</div>
	<div class="time">9:30</div>
	<div class="time">10:00</div>
	<div class="time">10:30</div>
	<div class="time">11:00</div>
	<div class="time">11:30</div>
	<div class="time">12:00</div>
	<div class="time">12:30</div>
	<div class="time">13:00</div>
	<div class="time">13:30</div>
	<div class="time">14:00</div>
	<div class="time">14:30</div>
	<div class="time">15:00</div>
	<div class="time">15:30</div>
	<div class="time">16:00</div>
	<div class="time">16:30</div>
	<div class="time">17:00</div>
	<div class="time">17:30</div>
	<div class="time">18:00</div>
	<div class="time">18:30</div>
	<div class="time">19:00</div>
	<div class="time">19:30</div>
	<div class="time">20:00</div>
	<div class="time">20:30</div>
	<div class="time">21:00</div>
	<div class="time">21:30</div>
</div>

<style>
    .schedule-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(28, 1fr);
        gap: 5px;
        width: 100%;
        margin: 0 auto;
        row-gap: 2rem;
    }
    .time {
        background-color: var(--blue);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }